﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>CordovaToDoApp_AngularJS</title>

    <link href="css/index.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="xPlat">
    <section id="todoapp" ng-controller="DataLogCtrl">
        <header id="header">
            <div id="headerBand"></div>
            <input id="new-todo" placeholder="Search for log.." ng-text-change="getLog()" ng-model="logIdsearch" autofocus>
            <input id="new-todo" placeholder="Create a log.." ng-text-change="createLog()" ng-model="newVehicleName">
            <button ng-click="getCurrentPosition()">Get current position</button>
            <button ng-click="startWatching()">Start watching</button>
            <button ng-click="clearWatch()">Clear watch</button>
            <button ng-click="checkGeolocationAvailability()">Check geo availability</button>
            
        </header>
        <section id="main">
            <div id="datalog-list">
                <div>{{logIdsearch.vehicle}}</div>
                <div class="templateWrapper" ng-repeat="datalog in logs">
                    <div class="templateContainer">
                        <input class="templateTitle" ng-class="{crossedOut: toDoItem.done}" type="text" ng-text-change="updateLog(datalog)" ng-model="datalog.vehicle" />
                        <h3 class="templateAddress">{{datalog._id}}</h3>
                        <!--<button class="templateLeft templateToggle" n g-class="{'checked': toDoItem.done, 'unchecked': !toDoItem.done}" n g-mousedown="toggleToDoDone(toDoItem)"></button>-->
                        <button class="templateLeft templateRemove" ng-click="removeDataLog(datalog)"></button>
                    </div>
                    <div class="templateBorder"></div>
                </div>
            </div>
        </section>
    </section>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    

    <!-- CordovaToDoApp_AngularJS references -->
    <script src="scripts/frameworks/angular.min.js"></script>
    <script src="scripts/frameworks/angular-resource.min.js"></script>

    <script src="scripts/index.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/cordovaGeolocationModule.js"></script>
</body>
</html>
